/* @font-face {
    font-family: "Arial-BoldMT";
    src: url("/Fonts/BuurtCampusArial-Bold.ttf");
}

@font-face {
    font-family: "BuurtCampusArial-Bold";
    src: url("/Fonts/BuurtCampusArial-Bold.ttf");
} */

html,
header,
body {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    min-width: 320px;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    place-items: center;
    z-index: 2;

    @media (min-width: 460px) {
        display: grid;
    }
}

.logo {
    width: 190px;
    object-fit: contain;
}

.textLogo {
    font-family: "BuurtCampusArial-Bold";
    font-size: var(--font-size-l);
}

.headerLogo {
    display: flex;
    justify-self: center;
    gap: 0.5em;

    @media (min-width: 480px) {
        justify-self: left;
        margin: 0 1.5em 0 1.5em;
    }
}

/* knoppen in de nav */
.navKnop {
    display: grid;
    font-size: var(--font-size-m);
    color: var(--color3);
    padding-right: 2rem;
    translate: 0 0;
    padding: 0.1em 2em 0.1em 0.5em;

    @media (max-width: 950px) {
        display: none;
        grid-column-start: 3;
    }
}

#navListMobile {
    padding: 0 0 0 0;
    display: grid;
    gap: 0em;
    justify-content: center;
    translate: center;
}

.buttonMenu {
    background-color: var(--color3);
    color: var(--color6);
    border: none;
    font-size: 2rem;
}

.navBar {
    grid-column-start: 2;
    grid-row-start: 1;
}

#hamburgerMenuKnop {
    display: none;
    margin: 0 1.5em 0 1.5em;

    @media (min-width: 460px) {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    @media (max-width: 950px) {
        display: block;
    }
}

#mobileNav {
    grid-column-start: 3;
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--color-paars-blauw);
    left: 0;
    top: 0;
    z-index: 999;
}

#mobileNav.active {
    display: block;
}

.mobileNavKnop {
    color: var(--color-white);
    padding-right: 3em;

}

.mobileNavKnop:hover,
.mobileNavKnop:focus-visible {
    background-color: var(--color-white);
    color: var(--color-paars-blauw);
    clip-path: polygon(90% 0, calc(95% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
}

.navKnop:active {
    color: var(--color-paars-blauw);
    background-color: var(--color-white);
    clip-path: polygon(90% 0, calc(95% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
}

.article-container {
    max-width: 75ch;
}

.logoLang {
    height: 1.2em;
}

/* knoppen in de nav */
.navKnop.primary-color-oost {
    font-size: var(--font-size-m);
}

#knop-omhoog {
    position: fixed;
    right: 1em;
    bottom: 1em;
}

/* title vertical */
.sideTitle {
    font-size: 28pt;
    font-family: BuurtCampusArial-Bold;
    font-weight: 300;
    writing-mode: vertical-rl;
    rotate: 180deg;
    align-items: center;
    white-space: nowrap;
    display: flex;
    float: left;
    padding: 0.5em 0 0.5em 0.5em;
    margin: 0;
}

/* naam van buurt met vlaggetje links boven in pagina */
.headerBuurtTitle {
    font-family: BuurtCampusArial-Bold;
    clip-path: polygon(90% 0, calc(100% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
    background-color: var(--color-3);
    color: white;
    padding: 0.1em 2.5em 0.1em 0.5em;
    width: max-content;
}

main {
    justify-self: center;
    display: flex;
    flex-direction: column;
    padding: 0.5em 1.5em 0.5em 1.5em;
    max-width: 1080px;
}

body {
    width: 100%;
}

.formulierFooter {
    width: 100%;
    padding: 0;
    margin: 0;
}
